---
import { getLatestCryptos } from "../lib/coinmarketcap";
import CryptoRow from "../components/CryptoRow.astro";

const cryptos = await getLatestCryptos(10);
---

<html>
  <body>

    <h1>Crypto Dashboard</h1>

    <table border="1">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Crypto</th>
          <th>Price USD</th>
          <th>24h %</th>
        </tr>
      </thead>

      <tbody>
        {cryptos.map((crypto: any) => (
          <CryptoRow crypto={crypto} />
        ))}
      </tbody>

    </table>

  </body>
</html>