---
import { getLatestCryptos } from "../lib/coinmarketcap";
import {
  getTopMarketCap,
  getTopGainers,
  getTopLosers
} from "../lib/cryptoUtils";

import Layout from "../layouts/Layout.astro";
import CryptoSection from "../components/CryptoSection.astro";

const cryptos = await getLatestCryptos(50);

const topMarketCap = getTopMarketCap(cryptos, 6);
const topGainers = getTopGainers(cryptos, 6);
const topLosers = getTopLosers(cryptos, 6);
---

<Layout>
  <main class="content">
    <CryptoSection
      title="Top Market Cap"
      cryptos={topMarketCap}
    />

    <CryptoSection
      title="Top Gainers (24h)"
      cryptos={topGainers}
    />

    <CryptoSection
      title="Top Losers (24h)"
      cryptos={topLosers}
    />
  </main>

  <style>
  body {
    font-family: system-ui;
    background: #f5f5f5;
  }

  .content{ 
    padding-inline: 20px;
  }
  </style>
</Layout>