---
import LiveMarketIsland from "../components/LiveMarketIsland";
import ExtendedCarousel from "../components/ExtendedCarousel";

export const prerender = false;

const res = await fetch(new URL("/api/cryptos", Astro.url));
//const res = await fetch("/api/cryptos");
const cryptos = await res.json();
---

<html>
  <body>
    <section>
      <h1>Crypto Dashboard</h1>
      <div class="grid">
        <LiveMarketIsland client:idle initial={cryptos} />
      </div>
    </section>

    <section style="margin-top:40px">
      <h2>Coin Insights</h2>
      <ExtendedCarousel client:load cryptos={cryptos} />
    </section>
  </body>
</html>

<style>
  body {
    font-family: system-ui;
    background: #f5f5f5;
    padding: 40px;
  }
</style>
