---
import MarketTicker from "../components/MarketTicker.tsx";
import { getLatestCryptos } from "../lib/coinmarketcap";

const cryptos = await getLatestCryptos(50);
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href="/dashboard.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Market viewer</title>
	</head>
	<body>
		<header>
			<div class="header-content">
				<img src="/logo.png" alt="" />
				<h1>Crypto Dashboard</h1>
			</div>
		</header>

		<MarketTicker cryptos={cryptos} client:load />
		
		<slot />
	</body>
</html>

<style>
	html, body {
		margin: 0;
		height: 100%;
	}

	header{
		overflow: visible;
		width: 100%;
	}

	.header-content {
		display: flex;
		align-items: center;
		/* max-width: 1200px;
		margin: 0 auto; */
		padding: 8px 16px;

		& > img {
			width: 4rem;
			height: 4rem;
			margin-right: 1rem;
		}
	}
</style>
